.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form_input {
    border: none;
    outline: none;
    margin: 5px ;
    padding: 5px ;
    border-radius: 10px;

}
.btn {
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 21px;
}
