<body>
    <div class="container">
        <header class="header">
            <nav class="navigation">
                <li class="navigation-items"><a href="/" class="navigation-items-link <%= path==="/"? 'active' : "" %> ">HOME</a></li>
                <li class="navigation-items"><a href="/add-product" class="navigation-items-link <%= path==="/add-product"? 'active': "" %> ">ADD PRODUCT</a></li>
                <li class="navigation-items"><a href="/dashboard" class="navigation-items-link <%= path==="/dashboard"? 'active': "" %> ">DASHBOARD</a></li>
            </nav>
        </header>